@page "/customerSuccesfullyCreated/{CustomerId}"
@attribute [Authorize(Roles ="Admin")]

<h3>Kunden är upplagd i systemet med kundnummer @CustomerId och kan logga in med användarnamn och lösenord</h3>


@code{

    [Parameter]
    public string CustomerId { get; set; }
}