@page "/"
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <p> Du är autisierad som @context.User.Claims.</p>
    </Authorized>
    <NotAuthorized>
        <h3>Du är inte autentiserad för sidan</h3>
    </NotAuthorized>
</AuthorizeView>