@page "/SuccesfullAccountRegistration/{accountId}"
@attribute [Authorize(Roles = "Admin")]

<h3>Kontot är skapat med kontonummer @AccountId</h3>

@code{

    [Parameter]
    public string AccountId { get; set; }
}